@charset "UTF-8";
/* Common Styling */
body {
	background-color: #E5E5E5;
	padding: 0;
	overflow-x: hidden;
    height: 100%;
    margin: 1%;
}

h1 {
	font-size: 1.8rem; /* Adjust font size as needed */
}

h2 {
	font-family: Inter, sans-serif;
}

title {
	font-family: Inter, sans-serif;
	color: black;
	font-size: medium;
}

input {
	border: none;
	outline: none;
	display: inline-block;
	height: 34px;
	vertical-align: middle;
	position: relative;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 0 18px;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

select {
	border: none;
	outline: none;
	font-family: Inter, sans-serif;
	display: inline-block;
	background-color: white;
	height: 34px;
	vertical-align: middle;
	position: relative;
	outline: 0;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 0 18px;
	border: 1px solid white;
}

table {
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	text-align: left;
}

td:first-child {
	width: 200px;
}

.table-format2 {
	border-collapse: separate;
	border-spacing: 25px;
}

.link {
	text-decoration: none;
}

.font1 {
	font-family: Inter, sans-serif;
	color: white;
	font-weight: bold;
	text-align: justify;
}

.font2 {
	font-family: Inter, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}

.font3 {
	font-family: Inter, sans-serif;
	color: black;
	text-align: justify;
}

.font4 {
	font-family: Inter, sans-serif;
	color: black;
	text-align: justify;
	font-size: 12px;
}

.active {
	background-color: white;
	color: #b30517;
	padding: 0.3%;
	border-radius: 15px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	margin-bottom: 1%;
}

.title {
	color: black;
	text-align: center;
	font-family: Inter, sans-serif;
	font-size: larger;
}

.titlePadding {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* white button black text with red text hover */
.button-1 {
	padding: 10px 20px;
	border: none;
	border-radius: 30px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	background: white;
	color: black;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
}

.button-1:hover {
	color: #b30517;
}

/* red button with white text : white button black text hover */
.button-2 {
	padding: 10px 20px;
	margin-left: 2px; border : none;
	border-radius: 8px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	background: #b30517;
	color: white;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.searchBoxContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 35px;
	width:100%;
}

.button-4 {
	padding: 9px 82px;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	background: #b30517;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.button-4:hover {
	background-color: #d91140;
	color: white;
}

.button-2:hover {
	background-color: #d91140;
	color: white;
}

/* Home Page Styling */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.detailPadding {
	background: #b30517;
	border-radius: 15px;
}

.imageContainer {
	position: relative;
	height: 6%;
	width: 45%;
	top: 0%;
	left: 28%;
	margin: none;
	padding: none;
}

.buttonContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width:100%;
}

.messageContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

/* Login Page Styling */
.loginContainer {
	margin-top: 8%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	top: 0%;
}

.innerLoginFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginFormPadding {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Customer Styling */

/* Customer Profile */
.customerNavBarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 90%;
}

.navPadding {
	background: #b30517;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 6px;
}

.infoPadding {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.bodyContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1%;
	height:600px;
	justify-content: space-between;
}

.bContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	width:100%;
	height:100%;
	
}

.centerContainer{
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%
}

.columnBodyContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	align-items: center;
	justify-content: center;
}

.transactionContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55%;
	align-items: center;
}

.innerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height:400px;
}

.img {
	margin-right: 10%;
}

.profileButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px;
	border-radius: 10px;
}

/* customer acc styling */
.accContainer {
	overflow-y: auto;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	width:50%;
    height: 600px; 
}

.individualAccContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-format1 {
	border-collapse: collapse;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.table-format1 th {
	background-color: #b30517;
	font-family: Inter, sans-serif;
	text-align: center;
	padding: 1%;
	color: white;
}

.table-format1 td {
	background-color: #f0f0f0;
	font-family: Inter, sans-serif;
	justify-content: center;
	padding: 1%;
	text-align: center;
}

.individualAccPadding {
	background: rgb(198, 198, 198, 0.1);
	padding: 20px;
	width: 90%;
	border-radius: 10px;
}

.successMessage {
	font-family: Inter, sans-serif;
	font-weight: bold;
	background-color: #4CBB17;
	color: white;
	padding: 10px 20px;
	border-radius: 15px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.errorMessage {
	/* position:fixed;
	top:90%;
	left: 45%; */
	font-family: Inter, sans-serif;
	font-weight: bold;
	background-color: #b30517;
	color: white;
	padding: 10px 20px;
	border-radius: 15px;
	opacity: 0;
	transition: opacity 0.5s ease;
}